/* src/app/globals.css */
:root {
  --color-primary:   #3E6053;
  --color-secondary: #C16757;
  --color-accent:    #BA2329;


  --bg-image: url('/images/lilbits-landingpage.png');
}

html, body, #__next, main {
  height: 100%;
  margin: 0;
}

body {
  background-image: var(--bg-image);
  background-repeat:   no-repeat;
  background-size:     cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
