* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    font-family: sans-serif;
  }
  

  .container {
    display: flex;
    height: 100vh; 
  }
  

  .left-section {
    width: 50%;
    padding: 2rem;
    background-color: #fff;
    color: #333;
    position: relative;
  }
  

  .top-line-container {
    position: absolute;
    top: 4rem;      
    left: 0;
    display: flex;
    align-items: center;
  }
  
 
  .line {
    width: 115px;
    height: 2px;
    background-color: #00A0E4; 
  }
  
  
  .line-text {
    margin-left: 10px;
    color: #00A0E4;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .text-content {
    margin-left: 90px;
    margin-top: 6rem;
  }
  

  .text-content h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .text-content p {
    margin-bottom: 1rem;
    line-height: 1.5;
  }
  .text-content h3 {
    margin-top: 1.5rem;
    margin-bottom: 1.125rem;  
  }
  .text-content ul {
    margin-bottom: 0.75rem;
    list-style-type: disc;
    padding-left: 0.75rem;
  }
  .text-content ul li {
    margin-bottom: 0.75rem;
  }

  .text-content ul li:last-child {
    margin-bottom: 0.75rem;
  }

  .final-text {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  
  
  .button-group {
    display: flex;
    gap: 1rem;
  }
  
  .button-group button {
    border-radius: 20px;
    padding: 0.75rem 2.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    font-weight: bold; 
  }
  

  .button-group button:not(.white-button) {
    background-color: #007BFF;
    color: #fff;
  }
  .button-group button:not(.white-button):hover {
    background-color: #0056b3;
  }
  
  .white-button {
    background-color: #fff;
    color: #1E90FF;
    border: 3px solid #1E90FF !important;
    padding: 0.75rem 2.5rem; 
  }
  .white-button:hover {
    background-color: #f2f9ff;
  }
  

  .right-section {
    width: 50%;
    overflow: hidden;
  }
  
  .right-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  